body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
    margin: 0;
}

.calculator {
    text-align: center;
 padding: 250px;
    
}

label, input, button {
    margin: 10px 0;
}

button {
    padding: 8px 16px;
    cursor: pointer;
}